<ion-view title="Camus" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="camus-list2">
      <ion-item id="camus-list-item7">Christian Metaphysicsa and Neoplatoism</ion-item>
      <ion-item id="camus-list-item8">Betwixed and Between</ion-item>
      <ion-item id="camus-list-item9">The Stranger</ion-item>
      <ion-item id="camus-list-item10">The Myth of Sisyphus</ion-item>
      <ion-item id="camus-list-item11">Lettres à un Ami Allemand (Letters to a German Friend)</ion-item>
      <ion-item id="camus-list-item12">Neither Victims nor Executioners</ion-item>
      <ion-item id="camus-list-item13">The Plague</ion-item>
      <ion-item id="camus-list-item14">The Rebel</ion-item>
      <ion-item id="camus-list-item15">The Fall</ion-item>
      <ion-item id="camus-list-item16">Exile And the Kingdom</ion-item>
      <ion-item id="camus-list-item26">The Guest</ion-item>
      <ion-item id="camus-list-item28">Caligula &amp; Three Other Plays</ion-item>
      <ion-item id="camus-list-item27">Resistance, Rebellion, and Death</ion-item>
    </ion-list>
  </ion-content>
</ion-view>