<ion-view title=" Nietzsche" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="Nietzsche-list13">
      <ion-item id="Nietzsche-list-item67">Homer and Classical Philology</ion-item>
      <ion-item id="Nietzsche-list-item68">The Birth of Tragedy</ion-item>
      <ion-item id="Nietzsche-list-item69">On the Advantage and Disadvantage of History for Life</ion-item>
    </ion-list>
    <ion-list id="Nietzsche-list14">
      <ion-item id="Nietzsche-list-item70">Untimely Meditations</ion-item>
      <ion-item id="Nietzsche-list-item71">Human, All Too Human</ion-item>
      <ion-item id="Nietzsche-list-item72">El caminante y su sombra (The Wonderer and His Shadow)</ion-item>
    </ion-list>
    <ion-list id="Nietzsche-list15">
      <ion-item id="Nietzsche-list-item73">Daybreak: Thoughts on the Prejudices of Morality</ion-item>
      <ion-list id="Nietzsche-list16">
        <ion-list id="Nietzsche-list19">
          <ion-item id="Nietzsche-list-item85">The Gay Science</ion-item>
          <ion-item id="Nietzsche-list-item86">Beyond Good and Evil</ion-item>
          <ion-item id="Nietzsche-list-item87">On the Genealogy of Morals</ion-item>
        </ion-list>
        <ion-item id="Nietzsche-list-item76">The Case of Wagner</ion-item>
        <ion-item id="Nietzsche-list-item77">Twilight of the Idols</ion-item>
        <ion-item id="Nietzsche-list-item78">Thus Spoke Zarathustra</ion-item>
        <ion-list id="Nietzsche-list18">
          <ion-item id="Nietzsche-list-item82">The Antichrist</ion-item>
          <ion-item id="Nietzsche-list-item83">Nietzsche contra Wagner</ion-item>
        </ion-list>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>