<ion-view title="Sartre" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="sartre-list4">
      <ion-item id="sartre-list-item32">The Transendence of the Ego</ion-item>
      <ion-item id="sartre-list-item33">The Wall</ion-item>
      <ion-item id="sartre-list-item34">Sketch for a Theory of Emotions</ion-item>
      <ion-item id="sartre-list-item35">The Imaginary</ion-item>
      <ion-item id="sartre-list-item36">Being and Nothingness</ion-item>
      <ion-item id="sartre-list-item37">The Age of Reason</ion-item>
      <ion-item id="sartre-list-item40">The Repreive</ion-item>
      <ion-item id="sartre-list-item44">Baudelaire</ion-item>
      <ion-item id="sartre-list-item43">No Exit and Three Other Plays</ion-item>
      <ion-item id="sartre-list-item41">Troubled Sleep</ion-item>
      <ion-item id="sartre-list-item42">Saint Genet</ion-item>
      <ion-item id="sartre-list-item38">Existential Psychoanalysis</ion-item>
      <ion-item id="sartre-list-item39">Existentialism and Human Emotion</ion-item>
      <ion-list id="sartre-list5">
        <ion-item id="sartre-list-item49">The Problem of Method</ion-item>
        <ion-item id="sartre-list-item50">Critique of Dialectical Reason</ion-item>
        <ion-list id="sartre-list6">
          <ion-item id="sartre-list-item52">The Words</ion-item>
          <ion-item id="sartre-list-item53">Lo Imaginario</ion-item>
          <ion-item id="sartre-list-item54">The Family Idiot</ion-item>
        </ion-list>
        <ion-item id="sartre-list-item51">Between Existentialism and Marxism</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>