<ion-view title="Tolstoy" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="tolstoy-list7">
      <ion-item id="tolstoy-list-item22">War and Peace</ion-item>
      <ion-item id="tolstoy-list-item23">The Ressurection</ion-item>
      <ion-item id="tolstoy-list-item24">Anna Karinina</ion-item>
    </ion-list>
    <ion-list id="tolstoy-list8">
      <ion-item id="tolstoy-list-item25">Boyhood</ion-item>
      <ion-item id="tolstoy-list-item29">ChildHood</ion-item>
      <ion-item id="tolstoy-list-item30">Youth</ion-item>
    </ion-list>
    <ion-list id="tolstoy-list12">
      <ion-item id="tolstoy-list-item59">Master and Man</ion-item>
      <ion-item id="tolstoy-list-item60">Hadja Murad</ion-item>
      <ion-item id="tolstoy-list-item61">The Death of Ivan Ilych</ion-item>
    </ion-list>
    <ion-list id="tolstoy-list9">
      <ion-item id="tolstoy-list-item31">The Cossacks</ion-item>
      <ion-item id="tolstoy-list-item45">The Kreutzer Sonata</ion-item>
      <ion-list id="tolstoy-list11">
        <ion-item id="tolstoy-list-item56">Family Happiness</ion-item>
        <ion-item class="item-icon-left" id="tolstoy-list-item62">
          <i class="icon ion-android-star"></i>After the Dance</ion-item>
        <ion-item id="tolstoy-list-item57">Twenty-Three Tales</ion-item>
        <ion-item id="tolstoy-list-item58">Father Sergius</ion-item>
      </ion-list>
      <ion-list id="tolstoy-list10">
        <ion-item id="tolstoy-list-item47">Three Deaths</ion-item>
        <ion-item id="tolstoy-list-item48">Two Hussars</ion-item>
        <ion-item id="tolstoy-list-item55">What To Do?</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>